<a href="https://colab.research.google.com/github/bhargavigulla57/python_code/blob/main/Multiply_All_Numbers_in_the_List_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [2, 4, 8, 3]
res = 1

for val in a:
	res = res * val

print(res)

192